@model PersonaViewModel

<div class="text-center">
    <h1>Inserisci altro contatto:</h1>
    <form>
        Nome: <input asp-for="Nome" type="text" name="fname"><br>
        Cognome: <input asp-for="Cognome" type="text" name="lname"><br><br>
        <input type="submit" value="Submit">
    </form>
</div>
